:root {
  --primary: #19a7ce;
}

body {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 6rem auto;
  max-width: 30%;
}

/* Auth */

form {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
  padding: 2rem 4rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--primary);
}

.nav-link:hover {
  color: var(--primary);
  border-bottom: 3px solid var(--primary);
  transition: 0.1s all;
}

.active {
  border-bottom: 3px solid var(--primary);
}

.input {
  background-color: transparent;
  border: none;
  padding-block: 10px;
  color: var(--primary);
  font-size: 1.2rem;
  display: block;
  width: 100%;
  border-bottom: 2px solid var(--primary);
  transition: .1s all;
}

.input:focus {
  outline: none;
  border-bottom: 4px solid var(--primary);
  transition: .1s all;
}

.button {
  width: 60%;
  color: #fff;
  background-color: var(--primary);
}

.button:hover {
  color: #fff;
  background-color: #146C94;
}