:root {
  --primary: #19a7ce;
}

body {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 1.3rem auto;
  max-width: 28rem;
}

/* Auth */

form {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
  padding: 2rem 4rem;
  box-shadow: 0 8px 32px 0 rgb(25, 167, 206, 0.1);
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--primary);
}

.nav-link:hover {
  color: var(--primary);
  border-bottom: 3px solid var(--primary);
  transition: 0.1s all;
}

.nav-link:focus {
  color: var(--primary);
}

.active {
  border-bottom: 3px solid var(--primary);
}

.input-content {
  border-bottom: 2px solid var(--primary);
  transition: 0.1s all;
  color: var(--primary);
}

.input {
  background-color: transparent;
  color: var(--primary);
  border: none;
  padding-block: 10px;
  font-size: 1.2rem;
  display: block;
  width: 100%;
}

.input:focus {
  outline: none;
}

.button {
  border: none;
  width: 60%;
  color: #fff;
  background-color: var(--primary);
}

.button:hover {
  border: none;
  color: #fff;
  background-color: #146c94;
}

.button:focus {
  border: none !important;
  color: #fff !important;
  background-color: #0f4b67 !important;
}

/* Card */
.card-container {
  margin: 2.5rem auto;
  max-width: 28rem;
  background-color: #f0eeed;
  overflow: hidden;
  text-align: center;
}

.card-bg {
  width: 100%;
  height: 15rem;
  background-image: url("./assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
}

.edit {
  top: 15px;
  right: 20px;
  text-decoration: none;
  color: #fff;
}

.edit:hover,
.logout:hover {
  color: var(--primary);
}

.logout {
  top: 15px;
  left: 20px;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  border: none;
}

.card-bg img {
  width: 40%;
  bottom: -80px;
  left: 32%;
}

.content {
  padding: 0 4rem;
  color: #0f2027;
}

.content-name {
  font-weight: 700;
}

.content-job {
  font-style: italic;
}

.desc {
  margin-top: 20px;
  line-height: 1.5;
}

.socials a {
  text-decoration: none;
  color: #0f2027;
}

.socials a:hover {
  color: var(--primary);
}

/* Edit */

.edit-container {
  margin: 2.5rem auto;
  max-width: 40rem;
}

.back {
  text-decoration: none;
  color: var(--primary);
}

.edit-title {
  color: var(--primary);
  font-weight: 700;
  text-align: center;
}

.edit-container label {
  color: var(--primary);
  font-size: 1.4rem;
}

.form-control {
  border: none;
  border-bottom: 2px solid var(--primary);
  background-color: transparent !important;
  color: #62cdff !important;
  border-radius: 0;
  padding-inline: 3px;
  font-size: 1.2rem;
  transition: 0.1s;
}

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
  border-bottom: 4px solid var(--primary);
  transition: 0.1s;
}

textarea {
  resize: none;
  padding-inline: 0.7rem !important;
  border: 2px solid var(--primary) !important;
}

textarea:focus {
  border: 3px solid var(--primary) !important;
}

textarea::-webkit-scrollbar {
  width: 6px;
}

textarea::-webkit-scrollbar-track {
  background-color: none;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #19a7ce;
  border-radius: 10%;
}

textarea::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.btn-discard {
  border: 1px solid var(--primary);
  color: var(--primary);
}

.btn-discard:hover {
  color: #fff;
  background-color: var(--primary);
}

.btn-discard:focus {
  border: none;
  color: #fff !important;
  background-color: #146c94 !important;
}

.btn-save {
  color: #fff;
  border: none;
  background-color: var(--primary);
}

.btn-save:hover {
  border: none;
  color: #fff;
  background-color: #146c94;
}

.btn-save:focus {
  border: none !important;
  color: #fff !important;
  background-color: #0f4b67 !important;
}

.avatar-container {
  position: relative;
  display: inline-block;
}

.avatar-image {
  display: block;
  width: 150px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 50%;
}

.avatar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 50%;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(25, 167, 206, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  padding-inline: 10px;
}

.avatar-container:hover .avatar-overlay {
  opacity: 1;
}

.avatar-container:hover .avatar-image {
  opacity: 0.5;
}


/* Responsive */

@media (max-width: 450px) {
  html {
    font-size: 82%;
  }

  .edit-title {
    font-size: 1.4rem;
  }

  .edit-container span {
    font-size: 1.1rem;
  }
}
