:root {
  --primary: #19a7ce;
}

body {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 6rem auto;
  max-width: 28rem;
}

/* Auth */

form {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
  padding: 2rem 4rem;
  box-shadow: 0 8px 32px 0 rgb(25, 167, 206, 0.1);; 
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--primary);
}

.nav-link:hover {
  color: var(--primary);
  border-bottom: 3px solid var(--primary);
  transition: 0.1s all;
}

.nav-link:focus {
  color: var(--primary);
}

.active {
  border-bottom: 3px solid var(--primary);
}

.input-content {
  border-bottom: 2px solid var(--primary);
  transition: .1s all;
  color: var(--primary);
}

.input {
  background-color: transparent;
  color: var(--primary);
  border: none;
  padding-block: 10px;
  font-size: 1.2rem;
  display: block;
  width: 100%;
}

.input:focus {
  outline: none;
}

.button {
  width: 60%;
  color: #fff;
  background-color: var(--primary);
}

.button:hover {
  border: none;
  color: #fff;
  background-color: #146C94;
}

.button:focus {
  border: none !important;
  color: #fff !important;
  background-color: #0f4b67 !important;
}


/* Card */
.card-container {
  margin: 2.5rem auto;
  max-width: 28rem;
  background-color: #F0EEED;
  overflow: hidden;
  text-align: center;
}

.card-bg {
  width: 100%;
  height: 15rem;
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
}

.edit {
  top: 15px;
  right: 20px;
  text-decoration: none;
  color: #fff;
}

.edit:hover {
  color: var(--primary);
}

.card-bg img {
  width: 40%;
  bottom: -80px;
  left: 32%;
}

.content {
  padding: 0 4rem;
  color: #0f2027;
}

.content-name {
  font-weight: 700;
}

.content-job {
  font-style: italic;
}

.desc {
  margin-top: 20px;
  line-height: 1.5;
}


.socials a {
  text-decoration: none;
  color: #0f2027;
}

.socials a:hover {
  color: var(--primary);
}


